<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loginSpeaker</servlet-name>
        <servlet-class>servlets.loginSpeaker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regspeaker</servlet-name>
        <servlet-class>servlets.regspeaker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reguser</servlet-name>
        <servlet-class>servlets.reguser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regorg</servlet-name>
        <servlet-class>servlets.regorg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sessions.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sp_pro</servlet-name>
        <servlet-class>servlets.sp_pro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpf</servlet-name>
        <servlet-class>servlets.editpf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordChnage</servlet-name>
        <servlet-class>servlets.passwordChnage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>servlets.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_org</servlet-name>
        <servlet-class>servlets.edit_org</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sp_avil</servlet-name>
        <servlet-class>servlets.Sp_avil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accept_sp</servlet-name>
        <servlet-class>servlets.accept_sp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>req_sp</servlet-name>
        <servlet-class>servlets.req_sp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEvent</servlet-name>
        <servlet-class>servlets.CreateEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book_tickets</servlet-name>
        <servlet-class>servlets.Book_tickets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginSpeaker</servlet-name>
        <url-pattern>/loginSpeaker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regspeaker</servlet-name>
        <url-pattern>/regspeaker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reguser</servlet-name>
        <url-pattern>/reguser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regorg</servlet-name>
        <url-pattern>/regorg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sp_pro</servlet-name>
        <url-pattern>/sp_pro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpf</servlet-name>
        <url-pattern>/editpf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordChnage</servlet-name>
        <url-pattern>/passwordChnage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_org</servlet-name>
        <url-pattern>/edit_org</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sp_avil</servlet-name>
        <url-pattern>/Sp_avil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accept_sp</servlet-name>
        <url-pattern>/accept_sp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>req_sp</servlet-name>
        <url-pattern>/req_sp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEvent</servlet-name>
        <url-pattern>/CreateEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book_tickets</servlet-name>
        <url-pattern>/Book_tickets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
